# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/

# ==========================================
# Dataset
# ==========================================

dataset/
datasets/

# Dataset archives
*.zip
*.rar
*.7z

# ==========================================
# Trained Models
# ==========================================

models/

*.keras
*.h5
*.hdf5
*.pkl

# ==========================================
# Generated Outputs
# ==========================================

outputs/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Streamlit Secrets
# ==========================================

.streamlit/secrets.toml